<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Setting</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Keys Management
    </div>
    <div class="panel-body">
      <form class="form-horizontal" method="get">

        <div class="form-group">
          <label class="col-sm-2 control-label">Application key</label>
          <div class="col-sm-9">

            <div class="input-group">
              <input type="text" class="form-control" ng-model="user.currentproject.applicationkey">
              <span class="input-group-btn">
                <button class="btn btn-default" clip-copy="user.currentproject.applicationkey" type="button">Copy</button>
              </span>
            </div>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Client key</label>
          <div class="col-sm-9">

            <div class="input-group">
              <input type="text" class="form-control" ng-model="user.currentproject.clientkey">
              <span class="input-group-btn">
                <button class="btn btn-default" clip-copy="user.currentproject.clientkey" type="button">Copy</button>
              </span>
            </div>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">.Net key</label>
          <div class="col-sm-9">

            <div class="input-group">
              <input type="text" class="form-control" ng-model="user.currentproject.netkey">
              <span class="input-group-btn">
                <button class="btn btn-default" clip-copy="user.currentproject.netkey" type="button">Copy</button>
              </span>
            </div>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">REST API key</label>
          <div class="col-sm-9">

            <div class="input-group">
              <input type="text" class="form-control" ng-model="user.currentproject.clientkey">
              <span class="input-group-btn">
                <button class="btn btn-default" clip-copy="user.currentproject.clientkey" type="button">Copy</button>
              </span>
            </div>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Master key</label>
          <div class="col-sm-9">

            <div class="input-group">
              <input type="text" class="form-control" ng-model="user.currentproject.masterkey">
              <span class="input-group-btn">
                <button class="btn btn-default" clip-copy="user.currentproject.masterkey" type="button">Copy</button>
              </span>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>