<div class="modal-body wrapper-lg" >
  <div class="row">
    <div class="col-sm-12">
      <h3 class="m-t-none m-b font-thin">Add Class</h3>
      <form role="form" >
          <div class="text-danger wrapper text-center" ng-show="authError">
              {{authError}}
          </div>
        <div class="form-group">
          <label>Class Name</label>
          <input type="text" class="form-control" placeholder="Enter Class Name"  ng-model="column.columnname" required>
        </div>
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()"><strong>Add Class</strong></button>

        </div>
      </form>
    </div>
  </div>
</div>

