- import haru.action._

!!! 5
html(lang="en" data-ng-app="app")
  head
    != antiCsrfMeta
    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    meta(name="description" content="Mobile BaaS Service Haru.io | Software maestro #5 ")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="google-translate-customization" content="a5095fc2b3c3970d-bb757aa0dfbf5740-g3708378b7228e5f1-a")
    title Plugy.io | Mobile BaaS Service

    link(rel="shortcut icon" href={publicUrl("favicon.ico")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/bootstrap.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/animate.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/font-awesome.min.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/simple-line-icons.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/font.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/app.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("vendor/modules/angularjs-toaster/toaster.css")})
  body(ng-controller="AppCtrl")
    #app.app(ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}" ui-view="")
    <!-- jQuery -->
    script(src={publicUrl("vendor/jquery/jquery.min.js")})
    <!-- Angular -->
    script(src={publicUrl("vendor/angular/angular.js")})
    script(src={publicUrl("vendor/angular/angular-animate/angular-animate.js")})
    script(src={publicUrl("vendor/angular/angular-cookies/angular-cookies.js")})
    script(src={publicUrl("vendor/angular/angular-resource/angular-resource.js")})
    script(src={publicUrl("vendor/angular/angular-sanitize/angular-sanitize.js")})
    script(src={publicUrl("vendor/angular/angular-touch/angular-touch.js")})
    <!-- Vendor -->
    script(src={publicUrl("vendor/angular/angular-ui-router/angular-ui-router.js")})
    script(src={publicUrl("vendor/angular/ngstorage/ngStorage.js")})
    script(src={publicUrl("vendor/angular/angular-sockjs/sockjs.min.js")})
    script(src={publicUrl("vendor/angular/angular-sockjs/ng-socket.js")})
    script(src={publicUrl("vendor/libs/tripledes.js")})
    script(src={publicUrl("vendor/modules/ng-infinite-scroll/ng-infinite-scroll.min.js")})
    script(src={publicUrl("vendor/modules/ng-clip/ZeroClipboard.min.js")})
    script(src={publicUrl("vendor/modules/ng-clip/ng-clip.min.js")})
    script(src={publicUrl("vendor/modules/sociallogin/facebook.js")})
    script(src={publicUrl("vendor/modules/sociallogin/googleplus.js")})
    script(src={publicUrl("vendor/modules/sociallogin/userservice.js")})
    script(src={publicUrl("vendor/modules/angularjs-toaster/toaster.js")})
    <!-- lazyload -->
    script(src={publicUrl("vendor/angular/oclazyload/ocLazyLoad.js")})
    <!-- bootstrap -->
    script(src={publicUrl("vendor/angular/angular-bootstrap/ui-bootstrap-tpls.js")})
    <!-- translate -->
    script(src={publicUrl("vendor/angular/angular-translate/angular-translate.js")})
    script(src={publicUrl("vendor/angular/angular-translate/loader-static-files.js")})
    script(src={publicUrl("vendor/angular/angular-translate/storage-cookie.js")})
    script(src={publicUrl("vendor/angular/angular-translate/storage-local.js")})
    <!-- App -->
    script(src={publicUrl("js/app.js")})
    script(src={publicUrl("js/config.js")})
    script(src={publicUrl("js/config.lazyload.js")})
    script(src={publicUrl("js/config.router.js")})
    script(src={publicUrl("js/main.js")})
    script(src={publicUrl("js/services/ui-load.js")})
    script(src={publicUrl("js/services/services.js")})
    script(src={publicUrl("js/filters/fromNow.js")})
    script(src={publicUrl("js/directives/setnganimate.js")})
    script(src={publicUrl("js/directives/ui-butterbar.js")})
    script(src={publicUrl("js/directives/ui-focus.js")})
    script(src={publicUrl("js/directives/ui-fullscreen.js")})
    script(src={publicUrl("js/directives/ui-jq.js")})
    script(src={publicUrl("js/directives/ui-module.js")})
    script(src={publicUrl("js/directives/ui-nav.js")})
    script(src={publicUrl("js/directives/ui-scroll.js")})
    script(src={publicUrl("js/directives/ui-shift.js")})
    script(src={publicUrl("js/directives/ui-toggleclass.js")})
    script(src={publicUrl("js/directives/ui-validate.js")})
    script(src={publicUrl("js/directives/haru-focus.js")})
    script(src={publicUrl("js/directives/angular-youtube-embed.min.js")})
    script(src={publicUrl("js/controllers/bootstrap.js")})
    <!-- Lazy load ng -->
    != jsForView