- import haru.action._

!!! 5
html(lang="en" data-ng-app="app")
  head
    != antiCsrfMeta
    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    meta(name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title Be Angular | Bootstrap Admin Web App with AngularJS

    link(rel="shortcut icon" href={publicUrl("favicon.ico")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/bootstrap.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/animate.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/font-awesome.min.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/simple-line-icons.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/font.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/app.css")})
  body(ng-controller="AppCtrl")
    #app.app(ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}" ui-view="")
    <!-- jQuery -->
    script(src={publicUrl("js/jquery/jquery.min.js")})
    script(src={publicUrl("js/libs/tripledes.js")})
    <!-- Angular -->
    script(src={publicUrl("js/libs/angular/angular.js")})
    script(src={publicUrl("js/libs/angular/angular-cookies.js")})
    script(src={publicUrl("js/libs/angular/angular-animate.js")})
    script(src={publicUrl("js/libs/angular/angular-resource.js")})
    script(src={publicUrl("js/libs/angular/angular-ui-router.js")})
    script(src={publicUrl("js/libs/angular/ngStorage.js")})
    script(src={publicUrl("js/libs/angular/ocLazyLoad.js")})
    script(src={publicUrl("js/libs/angular/ui-bootstrap-tpls.js")})
    script(src={publicUrl("js/angular/ng-infinite-scroll.min.js")})
    script(src={publicUrl("js/angular/angular-translate.js")})
    script(src={publicUrl("js/angular/ui-jq.js")})
    script(src={publicUrl("js/angular/ui-load.js")})
    script(src={publicUrl("js/angular/ui-validate.js")})
    script(src={publicUrl("js/angular/facebook.js")})
    script(src={publicUrl("js/angular/googleplus.js")})
    script(src={publicUrl("js/angular/userservice.js")})
    <!-- App -->
    script(src={publicUrl("js/app.js")})
    script(src={publicUrl("js/services.js")})
    script(src={publicUrl("js/controllers.js")})
    script(src={publicUrl("js/filters.js")})
    script(src={publicUrl("js/directives.js")})
    <!-- Lazy load ng -->
    
    = jsForView