<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ReviewCtrl">
    <div class="col  bg-light dk b-r bg-auto">
        <div class="wrapper b-b bg">
            <span class="h3">Review</span>
        </div>
        <div class="wrapper bg-white b-b">
            <ul class="nav nav-pills nav-sm">
                <li ng-class="{active: market=='playGoogle'}" ng-click="reviewReflash('playGoogle')"><a href>Korean</a></li>
                <li ng-class="{active: market=='amazon'}" ng-click="reviewReflash('amazon')"><a href>Japanese</a></li>
                <li ng-class="{active: market=='English'}" ng-click="reviewReflash('English')"><a href>English</a></li>
                <li ng-class="{active: market=='Chinese'}" ng-click="reviewReflash('Chinese')"><a href>Chinese</a></li>
                <li ng-class="{active: market=='France'}" ng-click="reviewReflash('France')"><a href>France</a></li>
            </ul>
        </div>

        <div class="wrapper bg-white b-b">
            <ul class="nav nav-pills nav-sm">
                <li ><a href class=""><img src="/img/play_logo_x2.png" width="70px;"></a></li>
                <li ><a href class=""><img src="/img/amazon_gray.png" width="70px;"></a></li>
                <li ><a href class=""><img src="/img/market360.png" width="70px;"></a></li>
            </ul>
        </div>
        <div class="wrapper">
            <ul class="list-group" style="list-style:none;">
                <li class="m-b" ng-repeat="review in reviews track by $index">
                    <div class="b-info">
                        <div class="tl-content panel padder b-a block">
                            <span class="arrow right pull-up visible-left"></span>
                            <div class="text-lt m-b-sm"><span class="h3 font-bold">{{review.title}}</span>
                                <span class="m-l-sm" ></span>
                                <div ng-init="xx = review.rating" class="m-b text-lg pull-right">

                                    <rating ng-model="xx" max="5" state-on="'fa fa-star text-warning'" state-off="'fa fa-star-o'" readonly="true"></rating> <b>({{xx}})</b>
                                </div>

                            </div>
                            <div class="panel-body pull-in b-t b-light  ">
                                <blockquote ng-class="{'b-l-success' : review.market == 'playGoogle', 'b-l-primary' : review.market == 'amazon', 'b-l-info' : review.market == 'market360'}" >
                                    <p ng-bind="review.body"></p>
                                    <small>{{review.name}}, {{review.date |  date:"yyyy.MM.dd HH:mm"}}</small>
                                </blockquote>
                                <div class="pull-right" ng-switch on="review.market">
                                    <img src="/img/play_logo_x2.png" width="70px;" ng-switch-when="playGoogle">
                                    <img src="/img/amazon_gray.png" width="70px;" ng-switch-when="amazon">
                                    <img src="/img/market360.png" width="70px;" ng-switch-when="market360">
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- /.col -->
    <div class="col w-lg bg-light lter b-l bg-auto">
        <div class="wrapper">
            <div class="panel b-a">
                <h4 class="font-thin padder">Latest Question & Reviews</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Wellcome <a href class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>
                        <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
                    </li>
                    <li class="list-group-item">
                        <p>Morbi nec <a href class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                        <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
                    </li>
                    <li class="list-group-item">
                        <p><a href class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
                        <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>