<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="FAQCtrl">
  <div class="col w-md bg-light dk b-r bg-auto">
    <div class="wrapper b-b bg">
      <button class="btn btn-sm btn-default pull-right visible-sm visible-xs" ui-toggle-class="show" target="#email-menu"><i class="fa fa-bars"></i></button>
      <a ui-sref="app.helpcenter.faq.new" class="btn btn-sm btn-danger w-xs font-bold">Write FAQ</a>
    </div>
    <div class="wrapper hidden-sm hidden-xs" id="email-menu">
      <div class="wrapper">Category</div>
      <ul class="nav nav-pills nav-stacked nav-sm">
        <li ng-repeat="category in faqcategory" ui-sref-active="active">
          <a ui-sref="app.helpcenter.faq.list({fold:category.filter})">
            <i class="fa fa-fw fa-circle text-muted" color="{{category.color}}" label-color ></i>
            {{category.category}}
          </a>
        </li>
      </ul>
      <div class="wrapper">
        <form name="label">
          <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="newLabel.name" placeholder="New Category" required>
            <span class="input-group-btn">
              <button class="btn btn-sm btn-default" type="button" ng-click="addCategory()" ng-disabled="label.$invalid">Add</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div ui-view ></div>
  </div>
</div>